*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    margin-bottom: 30px ;
}

.d-flex-end{
    display: flex;
    justify-content: flex-end;
}


footer{
    background-color: rgba(22, 22, 22);
}

.container{
    width: 100%;
}

.first .col:first-child{
    text-align: start;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: 50%;
    border: 1px dashed black;
}

.col{
    width: 100%;
    border: 1px dashed black;
    border-radius:20px;
    margin: 10px;
    text-align: center;
}

main img{
    width: 100%;
}

.third img{
    width: auto;
    height: 100%;
    margin-left: -50px;
    
}

.circular-landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
/* BACKGROUNG*/

.bg-lightblue{
    background-color:rgb(81, 191, 255);
}

.bg-purple{
    background-color:rgb(162, 81, 255);
}

.bg-white{
    background-color: #fff;
}

.font{
    font-size: 40px;
}

.wid-30{
    font-size: 4rem;
}

/* MEDIA */

@media  screen and (min-width:412px) {
    .first .col:first-child{
        width: calc(100% / 3 * 2 - 20px);
    }

    .first .col{
        
        width: calc(100% / 3 - 20px);
        
    }

    .fourth .col:first-child{
        width: 100%;
    }

    .fourth .col{
        width: calc(50% - 20px);
        
    }
    
}

@media  screen and (min-width:810px) {
    
    .second .col{
        width: calc(50% - 20px);
    }
    .fourth .col{
        width: calc(100% / 3);
        
    }
    
}